<div class="content" role="main">
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

  <div style="text-align:center">
    <h1>{{ title }}!</h1>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="getRoute()">Get Routes</button>
    </div>
    <p>Please right click the markers below, set the route number and then click on get routes to draw map</p>
    <p>Author: Yogesh H. Mahale (7385920079)</p>
  </div>

  <agm-map [latitude]="location.latitude"
           [longitude]="location.longitude"

           (mapClick)="addMarker($event)"
          >
    <agm-marker *ngFor="let item of location.markers"
                [latitude]="item.lat"
                [longitude]="item.lng"
                [label]="item.label"
                [markerDraggable]="false"
                (dragEnd)="markerDragEnd($event.coords, $event)"
                (markerRightClick)="onMarkerRightClick($event, item.id)"
                (markerClick)="selectMarker($event, item.id)"></agm-marker>

    <agm-direction
      *ngFor="let dir of directions"
      [origin]="dir.origin"
      [destination]="dir.destination"
    >
    </agm-direction>
  </agm-map>

  <div *ngIf="selectedMarker">
    Selected Marker is: Latitude {{selectedMarker.lat}}  Longitude {{selectedMarker.lng}}
  </div>
</div>
<router-outlet></router-outlet>
